/* @import '@fontsource/fira-mono'; */

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;

	--color-range-5: 13, 198, 243;
	--color-range-10: 25, 176, 230;
	--color-range-15: 38, 154, 218;
	--color-range-20: 50, 132, 205;
	--color-range-25: 63, 110, 193;
	--color-range-30: 75, 88, 180;
	--color-range-35: 88, 66, 168;
	--color-range-40: 100, 44, 155;
	--color-range-45: 112, 22, 143;
	--color-range-50: 125, 0, 130;
	--color-range-55: 137, 22, 118;
	--color-range-60: 150, 44, 105;
	--color-range-65: 163, 66, 93;
	--color-range-70: 175, 88, 80;
	--color-range-75: 188, 110, 67;
	--color-range-80: 200, 132, 55;
	--color-range-85: 213, 154, 42;
	--color-range-90: 225, 176, 30;
	--color-range-95: 238, 198, 17;
	--color-range-100: 250, 220, 5;

	--color-text: rgba(0, 0, 0, 0.7);
	--color-metric-base: #9400FF;
	font-family: var(--font-body);
	color: var(--color-text);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
	/* min-height: 100vh; */
	/* margin: 10; */
	/* background-color: var(--color-bg-1); */
	background-attachment: fixed;
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.9) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(
			180deg, 
			rgba(var(--color-range-5), 0.1) 0%, 
			rgba(var(--color-range-35), 0.15) 45%, 
			rgba(var(--color-range-75), 0.3) 50%
		);
}

h1 {
	margin: 0;
}

.bstrip {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}